#page {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

header{
    margin: 0;
    padding: 10px;
    background-color: #000000;
    color: white;
    text-align: center;
}

body {
    background-color: #ebcfa4;
    margin: 0;
    padding: 0;
    font-family:"Georgia";
    font-size: 25px;
}

body h2 {
    text-align: center;
}

body a:hover {
    color:#f21010;
}

a:link {
    color: #ee5c27;
    text-decoration: none;
    font-weight: bold;
}

p {
    font-family:'Times New Roman', Times, serif;
}

ul { 
    justify-content:center;
    width: 100%;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color:gold;
    border-bottom: 4px dashed #ea7d4f;
    position: fixed;
    top: 0;
}

ul li {
    padding: 5px;
    float:left;
}

ul li a {
    display:block;
    text-align: center;
    margin: 1px 2px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #ee5c27;
}

.divbreak {
    border: none;
    border-top: 4px dashed #ea7d4f;
    width: 100%
}

.h {
    justify-content:center;
    width:80%;
    height:70vh;
    display:flex;
    border: 5px solid #2a1912;
    margin: auto;
    margin-top: 90px;
    padding: 10px;
}

.h-left {
    width: 60vw;
}

.h-left h1{
    font-size: 70px;
    width: 70%;
    padding: 10px 90px;
}

.h-left p{
    font-size: 25px;
    width: 70%;
    text-align:left;
    margin: 20px;
    padding: 20px 80px;
}
.h-right {
    width: 40vw;
    height: 100%;
}

.h-right img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.aboutme {
    width:80%;
    margin:auto;
}

.aboutme h2 {
    margin: auto;
}

.aboutme p {
    justify-content:center;
    margin:auto;
    text-align:left;
}

.projects {
    text-align:center;
    width: 80%;
    margin:auto;
}

.projects h4 {
    font-weight: bold;
}

.column {
    padding: 10px;
    float: left;
}

.left {
    text-align: left;
    width: 60%;
}

.right { 
    width: 40%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.projects table, th, td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}